.genome__left__container__job__card{
  width: 36%;
  border: 1px solid #232529;
  background-color: #232529;
  border-radius: 4px;
  margin-left: 32%;
  height: 40%;
  margin-top: 100px;
  margin-right: 0%;
  -webkit-box-shadow: -6px 7px 8px -3px #000000;
  box-shadow: -6px 7px 8px -3px #000000;
}

@media only screen and (max-width: 1000px) {

  .genome__left__container__job__card{
    width: 80%;
    border: 1px solid #232529;
    background-color: #232529;
    border-radius: 4px;
    margin-left: 10%;
    height: 60%;
    margin-top: 100px;
    margin-right: 0%;
  }
}
