.header{
  width: 100%;
  display: flex;
  height: 60px;
  background-color: #232529;
}

.logo__container{
  width: 10%;
  margin-left: 0px;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
}

.logo__image{
  width: 60px;
}

.logo__left__side{
  margin-right: 50px;
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
}

.logo__left__side__secondary{
  margin-right: 50px;
  width: 30px;
  opacity: 0.7;
  cursor: pointer;
}

.left_header_container{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  border: 0px solid blue;
  padding-right: 20px;
}

.profile__image__container{
  border: 0px solid orange;
  padding-top: 8px;
  width: 40px;
}

.profile__image__inner{
  width: 100%;
  min-height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.profile__image__inner:hover{
  border: 2px solid #cddc39;
}

@media only screen and (max-width: 600px) {

  .logo__left__side__secondary{
    display: none;
  }

  .logo__container{
    margin-left: 20px;
  }

  .profile__image__inner:hover{
    border: 2px solid #ffffff;
  }

  .logo__left__side{
    margin-right: 30px;
  }


}
