.modal__container{
  overflow: hidden;
  position: absolute;
  background-color: black;
  border: 1px solid rgba(205, 220, 57, 0.5);
  width: 300px;
  height: 260px;
  border-radius: 8px;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  z-index: 50;
  padding: 15px;
  -webkit-box-shadow: -6px 7px 8px -3px #000000;
  box-shadow: -6px 7px 8px -3px #000000;
}

.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    background-color: black;
}

.overLayModal{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}

@media only screen and (max-width: 1000px) {
  .modal__container{
    width: 80%;
    height: 300px;
    top: calc(50%);
    left: 5%;
  }

  .modal{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 30px;
      right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
      overflow-y: scroll;
  }
  .overLayModal{
    height: 100vh;
  }
}
