.main{
  background-color: #383b40;
  border: 0px solid red;
  height: calc(100vh - 60px);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.main__image__cover{
  margin-top: 100px;
  width: 100%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.0) 50%, rgba(255, 255, 255, 0) 100%);
}

.main__title{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

.button__to__find{
  position: absolute;
  background-color: #cddc39;
  color: #232529;
  font-size: 20px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  top: calc(50% + 60px);
  left: calc(50% - 100px);
  text-align: center;
  cursor: pointer;
}

.powered__message{
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  opacity: 0.4;
}


@media only screen and (max-width: 600px) {
  .main__image__cover{
    margin-top: 20px;
  }

  .main__title{
    top: 30%;
    font-size: 34px;
    width: 80%;
    margin-left: 10%;
    line-height: 2.6875rem;
  }
  .button__to__find{
    font-size: 20px;
    top: calc(40% + 100px);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
    left: calc(50% - 80px);
  }
  .powered__message{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    opacity: 0.4;
  }
}
