.profileModal{
  position: absolute;
  width: 250px;
  height: 110px;
  border-radius: 8px;
  margin-left: -240px;
  margin-top: 25px;
  background-color: #767b82;
  padding: 15px;
  color: #ffffff;
  z-index: 50;
}

.profileModal:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #767b82;
	border-top: 0;
	margin-left: 100px;
	margin-top: -15px;
}

.top__container__modal{
  display: flex;
}

.user__info__modal{
  margin-left: 20px;
}

.profile__name{
  color: #cddc39;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.email__name{
  margin-bottom: 5px;
  opacity: 0.6;
}

.button__genome{
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  background-color: #cddc39;
  color: #383b40;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.button__genome:hover{
  font-weight: 500;
}

.overLay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
